* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100vw;
    background-image: url("https://source.unsplash.com/1600x900/?landscape");
}
.caixa-maior {
    background-color: rgb(10, 10, 10);
    width: 95%;
    max-width: 430px;
    opacity: 0.9;
    border-radius: 20px;
    padding: 20px;
}
input {
    border: none;
    outline: none;
    padding: 12px;
    border-radius: 22px;
    font-size: 20px;
    background: #7c7c7c2b;
    color:rgb(255, 255, 255);
    width: calc(100% - 100px);
}
button {
    border-radius: 20px;
    border: none;
    outline: none;
    padding: 10px;
    background-color: #7c7c7c6b;
    float: right;
    cursor:pointer;
}
button :hover{

   background-color: #7c7c7c6b;
}
.caixa-media {
    margin-top: 30px;
}
.caixa-menor {
    display: flex;
    margin-top: 30px;
    align-items: center;
}

.lupa {
    height: 20px;
}
h2 {
    color: white;
    font-size: 28px; /* tamanho do texto */
}

.temp {
    color: white;
    margin-top: 20px;
}
.descricao {
    color: white;
    margin-left: 15px;
    text-transform: capitalize;
}
.umi {
    color: white;
    margin-top: 20px;
}